// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
	width: 100%;
	
	#index_board{
		width: 15%;
	 	float: left;
	 	margin-left: 15px;
	 	tr td{
	 		height: 30px;
	 	}
	 	#description{
	 		height: 300px;
	 	}
	 	#notice{
	 		color: red;
	 	}
	}
}

.board #post_show_table{
	 width: 80%;
	 
	 tr td{
	 	height: 30px;
	 }
	 #description{
	 	height: 300px;
	 }
	 #notice{
	 	color: red;
	 }
}

.write-form{
	width: 90%;
	#write{
		float: right;
		margin: 1px;
	}
	#comment_add_button{
		float: left;
	}
}

.comments_add{
	display: none;
	width: 100%;
	#comment_field{
		width: 75%;
		height: 50px;
	}
}